* {margin: 0;}
body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer"
} 
.pageimage{
    position:fixed;
            top: 220px; 
            left: 400px; 
            width: 600px; 
            height: auto; 
            border: 2px solid #0b0b0b;
}
header {
    background-color:rgb(23, 22, 21);
    color: rgb(245, 238, 238);
    padding: 20px;
    grid-area: header;

}

nav {
    background-color:rgb(155, 155, 238); 
    grid-area: nav;
}
    nav ul li a {
        color: #388659;
        text-decoration: none;
        grid-area: nav;
    }
    nav ul {
        display: flex;
        justify-content: space-around;      
        list-style: none;
    }


main {
    background-color: #ffffff;
    grid-area: main
}

aside {
    background-color: #388659;
    grid-area: aside;
}

footer {
    background-color: #1a281f;
    color: #388659;
    grid-area: footer;
}
.button {
    color: black;
    text-decoration: none;
    font-size: 70px;
}
.er{
    text-align: center ;
}
.as{
    margin-bottom: 15px;
    position:absolute
}
.bottom{
    position:fixed;
    bottom: 0; 
    width: 100%;
    text-align: center;
    background-color: #0f0a0a;
    padding: 5px;
}
.pp{
    margin-bottom: 5px;
    display: grid;
    background-color: #0b0b0b;
}
.op{ 
    background-color: #eac807; 
    grid-area: nav;
    color: #060606;
    text-decoration: none;
    display: flex;
}
nav ul li a {
    color: #050505;
    text-decoration: none;
    grid-area: nav;
}
.img1{
    border: 3px solid #030303;
    width: 520px;
    height: 450px;    
}
.img2{
    border: 3px solid #030303;
    width: 520px;
    height: 450px;
}
.img3{
    border: 3px solid #030303;
    margin-right: 7px;
    width: 520px;
    height:450px;
}.a{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    background-color:rgb(249, 249, 240);
}body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Optional: Set a background color */
    overflow: hidden; /* Hide overflowing content */
}
.contactform{
    position: static;
    color: #ffffff;
    margin: 5px;
    margin-top: 40px;
    font-family: Arial, sans-serif;
    padding: 0;

    
    max-width: 300px;
    margin: 15px auto;
    padding: 2px;
    border-radius: 8px;

    
    text-align: center;
    margin-bottom: 20px;

    
    display: grid;
    grid-gap: 10px;
    
    font-weight: bold;
}
    form input,
form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
}

form input[type="submit"] {
    width: auto;
    cursor: pointer;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.social-icons {
    display: flex;
}
.social-icons a {
    margin: 0 10px;
}
.social-icons img {
    width: 40px;
    height: 40px;
}