body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer"
}
header {
    background-color:rgb(156, 109, 62);
    color: rgb(245, 238, 238);
    padding: 20px;
    grid-area: header;

}
    main {
    background-color: #ffffff;
    grid-area: main
}

nav {
    background-color:rgb(155, 155, 238); 
    grid-area: nav;
}
    nav ul li a {
        color: #388659;
        text-decoration: none;
        grid-area: nav;
    }
    nav ul {
        display: flex;
        justify-content: space-around;      
        list-style: none;
    }

    nav ul li a:hover {
        color: rgb(15, 14, 14);
    }
    .mainpagepic{
        margin-top: 12px;
        width: 450px;
        height: 500px;
    }
    footer {
        background-color: #1a281f;
        grid-area: footer;
    }

.button {
    color: black;
    text-decoration: none;
    font-size: 70px;
}
.bottom{
    position:fixed;
    bottom: 0; 
    width: 100%;
    text-align: center;
    background-color: #0f0a0a;
    padding: 5px;
}
nav ul li a {
    color: #050505;
    text-decoration: none;
    grid-area: nav;
}
.a{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    background-color:rgb(249, 249, 240);
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f fffff;
    overflow: hidden; 
}
    form input,
form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
}

form input[type="submit"] {
    width: auto;
    cursor: pointer;
}
.cont{
    justify-content: center;
}
.contactform{
    background-color:rgb(155, 155, 238);
    position:relative;
    color: #f8f0f0;
    margin: 50px;
    margin-top: 40px;
    font-family: Arial, sans-serif;
    padding-left: 10px;
    padding-bottom: 10px;
    max-width: 300px;
    margin: 15px auto;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    display: grid;
    grid-gap: 10px;
    font-weight: bold;
}
footer {
    background-color: #333;
    color: white;
    padding: 3px;
    justify-content: center;
    grid-area:nav ;
    list-style: none;
}
.ftr{
    position: fixed;
    background-color: #0b0b0b;
    width: 1500px;
    bottom:0px;
    height: 35px;
}
.ftr i{
    font-size: 2.4em;
}
.socialicons{
    position: relative;
    text-align: start;
    width: 100%; 
    height: auto;
    transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socialicons :hover{
    color: rgb(229, 22, 57);
    transform:translateY(-10px);
}
main {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
div img {
    width: 100%;
}
main div {
    border: 1px solid black;padding: 2em;
}
.bruteforce{
    width: 160px;
}
.subnetting{
    width: 160px;
}
.phishing{
    width: 160px;   
}
.keylogging{
    width: 160px;
}
.srp{
     line-height: 1.9;
}
.indr{
    line-height: 1.9;
}
section h3:nth-child(3){
    color: red;
}
i{
    color: #fffefe;
    font-size: 1.8em;
    letter-spacing: 7px;
}
.navproject{
    font-size: 0.8em;
    font-weight: bold;
    transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navproject i:hover{
    color: #000;
    transform:translateY(-10px);
}
.box{
    transition:transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.box :hover{
    transform:translateY(-6px);
}
.indnav{
    font-size: 0.8em;
    font-weight: bold;
    transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.indnav i:hover{
    color: #000;
    transform:translateY(-10px);
}
.sitnav{
    font-size: 0.8em;
    font-weight: bold;
    transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sitnav i:hover{
    color: #000;
    transform:translateY(-10px);
}
.contnav{
    font-size: 0.8em;
    font-weight: bold;
    transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.contnav i:hover{
    color: #000;
    transform:translateY(-10px);
}
.cvalimg{
    width: 230px;
    align-items:center;
   
}
.cv2{
    width: 230px;
} 
.vidnav{
    font-size: 0.8em;
    font-weight: bold;
    transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.vidnav i:hover{
    color: #000;
    transform:translateY(-10px);
}
