* {margin: 0;}
body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer"
}

header {
    background-color: #388659;
    color: white;
    padding: 20px;
    grid-area: header;

}


nav {
    background-color: #d3e298; 
    grid-area: nav;
}
    nav ul li a {
        color: #388659;
        text-decoration: none;
        grid-area: nav;
    }
    nav ul {
        display: flex;
        justify-content: space-around;      
        list-style: none;
    }


main {
    background-color: #ffffff;
    grid-area: main
}

aside {
    background-color: #388659;
    grid-area: aside;
}

footer {
    background-color: #1a281f;
    color: #388659;
    grid-area: footer;
}.showNav::before {content: '';position: absolute;width: 1.25em;margin-top: 0.3em;border-top: 0.2em solid #fff;}
.showNav {height: 0.8em;width: 1.25em;display: block;border-top: 0.2em solid white;border-bottom: 0.2em solid white;border-radius: 0.2em;}
.button {
    color: black;
    text-decoration: none;
    font-size: 70px;
}
.er{
    text-align: center ;
}